.translucent{
  background-color: #003300; /* fall-back */
  background-color: rgba(0,51,0,0.65);
}

.caption{
  background-color: #003300; /* fall-back */
  background-color: rgba(0,51,0,0.65);
  font-size: 30%;
  text-align: right;
}

/* I don' like borders on images! */
.reveal section img {
  border: 0px solid #333333;
   box-shadow: none;
}

.reveal p.attribution{
  background-color: #003300; /* fall-back */
  background-color: rgba(0,51,0,0.5);
/*  position: absolute;
  bottom: -100px;
  left: -50px; */
  position: fixed;
  bottom: 50px;
  left: -50px;
  overflow: hidden;
  font-size: 0.75em;
  color: #ffffff;
  text-align: left;
}

.left{
  float: left;
  text-align: left;
  width: 48%;
  margin: 1%;
}

.left-alone{
  float: left;
  text-align: left;
  width: auto;
  overflow: visible;
  clear: left;
}

.right{
  float: right;
  margin: 1%;
  text-align: left;
  width: 48%;
}

.right-alone{
  float: right;
  text-align: right;
  width: auto;
  overflow: visible;
  clear: right;
}

.header {
  font-family: "Arial";
  text-align: right;
  color: lightgrey;
  font-size: 15px;
  margin: 3px 5px 5px 10px;
  z-index: 99;
}

dfn {
  background-color: rgba(204,102,204,0.35);
/*  color: #FA8258; */
}

.red{
  color: red;
}

/* Suppress reveal.js themes all uppercase for headers below h1 */
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal p {
  text-transform: none;
}

/* reveal.js link style from night.css for all themes */
a:not(.image), .reveal a:not(.image) {
   color: #e7ad52;
  text-decoration: none;
   -webkit-transition: color .15s ease;
   -moz-transition: color .15s ease;
   -ms-transition: color .15s ease;
   -o-transition: color .15s ease;
   transition: color .15s ease;
}

.reveal section td {
  padding: 3px 15px 3px 3px;
  text-align: right;
}
.reveal section th {
  border-top: 2px solid #999999;
  border-bottom: 4px solid #999999;
  padding: 3px 15px 3px 3px;
  text-align: right;
}
.reveal section tr.even {
  background-color: rgba(0,0,0,0.2);
}

#header {
  position: absolute;
  top: 0%;
  right: 0%;
}

.focus {
  animation: bringintofocus 7.5s 1, windupalpha 7.5s 1;
}

@keyframes bringintofocus {
  from {text-shadow:0px 0px 800px;}
  to {text-shadow:0px 0px 0px;}
}

@keyframes windupalpha {
  from {opacity:0;}
  to {opacity:1;}
}
